<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer page</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>

<body>
    <center>
        <h1>
            Welcome <%= user%> :)
        </h1>
        <div>
                <button onclick="location.href= '/customer/<%=user%>/getmypacks';">get my packages</button>
        </div>
        <div>
            <button class="button-89" role="button" onclick="location.href= '/customer/<%=user%>/rpacks';" >Receive package</button>
        </div>
        <div>
            <button class="button-89" role="button">Update profile</button>
        </div>
        <div>
            <button class="button-89" role="button">Pay for a package</button>
        </div>
    </center>
    <div>
        <button onclick="location.href = '/logout';" class="button-24" role="button">logout</button>
    </div>
</body>

</html>